

$btn-green:#79a83b;
$hover-green:#6f9a37;
$yellow:#ffc107;
$light-green:#4caf50;
$blue:#03a9f4;
$primary:#7F54B3;
$green:#7ad03a;
$orange:#ffba00;
$secondary:#e9e6ed;
$highlight:#b3af54;
$subtext:#767676;
$secondary-text:#515151;

